<div class="main">
    @for (post of listOfPosts; track post) {
        <!-- TODO: Adjust to only load what's actually visible using @defer -->
        <article>
        <blog-content />
        <h2>
            {{ post.heading }}
        </h2>
        <p>
            {{ post.body }}
        </p>
        <div class="img-container">
            <img 
            [src]="imagePath" 
            [style]="appendedImgStyling"
            (mouseover)="growImage()" 
            (mouseout)="ungrowImage()"  
            alt="Hokkaido mountain range" 
            >
        </div>
    </article>
    }
</div>