<button (click)="shuffleArticles()">shuffle</button>
<div class="grid"> <!-- TODO: Misalign these like randomly layed bricks --> <!-- TODO: Make these random every time -->
    @for (metadata of featuredPostMetadata; track metadata.path) {
        <div class="image-container">
            <a [routerLink]="['/blog', metadata.path]">
                <img [src]="metadata.highlightImage.path" [alt]="metadata.highlightImage.alt"/>
                <h2 class="articleTitle">{{metadata.heading}}</h2>
            </a>
        </div>
    }
</div>
