<div class="dice-container">
    <img [@spinDice]="diceState" class="dice" [src]="diceSrc" (click)="shuffleArticles()" alt="A dice icon" width="50" height="50"/>
</div>
<div class="grid"> <!-- TODO: Misalign these like randomly layered bricks -->
    @for (metadata of featuredPostMetadata; track metadata.path) {
        <div class="image-container">
            <a [routerLink]="['/blog', metadata.path]">
                <img [src]="metadata.highlightImage.path" [alt]="metadata.highlightImage.alt"/>
                <h2 class="articleTitle">{{metadata.heading}}</h2>
            </a>
        </div>
    }
</div>
