.container {
    display: flex;
    justify-content: center;
}

img {
    width: 50px;
    filter: invert(1);
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
}

img:active {
    animation: spin 1s ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
