body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #141414;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

h1,
h2,
h3,
h4  {
    color: #ffffff;
}

p,
a,
th,
td {
    color: #c9c9c9;
}

p {
    color: #c9c9c9;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li,
ol {
    color: #c9c9c9;
}

img {
    max-width: 100%;
    height: auto;
}

.newspaperColumnWrapper {
    display: flex;
    justify-content: center;
}

.newspaperColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 22.5%;
    padding-right: 22.5%;
    width: 55%;
}
