body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #141414;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

h1,
h2,
h3,
h4  {
    color: #ffffff;
}

p,
a,
th,
td {
    color: #c9c9c9;
}

p {
    color: #c9c9c9;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li,
ol {
    color: #c9c9c9;
}

.img-container {
    display: flex;
    justify-content: center;
}

img {
    width: 80%;
}

button[nextpage] {
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px; 
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button[nextpage]:hover {
  background-color: #1f1f1f;
}
